
/*The layout for each of the tiles with movies in them*/
#ContentDesign{
    width: 300px;
    height: 300px;
    border: 1px solid black;
}
/*The layout for the button to show more info*/
.MoreInfoBtn
{
    border: 1px black solid;
    background: #e2e2e2;
    width: 200px;
    height: 75px;

}
/*The grid areas*/
.item1{
    grid-area: header;
    border: 1px black solid;
}
.item2{
    grid-area: menu;
    border: 1px black solid;
}
.item3{
    grid-area: main;
    border: 1px black solid;
}

.item4{
    grid-area: footer;
    border: 1px black solid;
}

.itemChild1{
    grid-area: poster;
    width: 155px;
}
.itemChild2{
    grid-area: title;
}

.itemChild3{
    grid-area: button;
}

.itemModal1{
    grid-area: poster;
    width: 350px;
    height: 350px;
}
.itemModal2{
    grid-area: title;
    text-align: left;
    width: 700px;
}

.itemModal3{
    grid-area: rating;
    width: 700px;
}
.itemModal4{
    grid-area: age;
    width: 700px;
}
.itemModal5{
    grid-area: description;
}
.itemModal6{
    grid-area: video;
}
/*The grids to actually use the grid areas*/
.grid-child
{
    display: grid;
    width: 300px;
    grid-template-areas:
            'poster title'
            'button button ';
}
.grid-child > div {
    font-size: 25px;
    padding: 2px;
}
.grid-modal
{
    display: grid;
    width: 1000px;
    grid-template-areas:
            'poster title'
            'poster rating'
            'poster age '
            'description description'
            'video video';
}
.grid-modal > div {
    text-align: left;
    font-size: 25px;
    padding: 2px;
}
.grid-container {

    display: grid;
    width: 1000px;
    grid-template-areas:
            'header header header'
            'menu menu menu '
            'main main main'
            'footer footer footer';
    grid-gap: 5px;
    padding: 5px;
}
.grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
